<div id="sidebar" [ngClass]="{'expended': isExpended}">
  <ul class='nav list-group'>
    <li>
      <a (click)="toggle($event)" class="list-group-item">
        <span *ngIf="!isExpended" class='menu-icon icon-hamburger-menu'></span>
        <span *ngIf="isExpended" class='menu-icon icon-menuclose'>X</span>
      </a>
    </li>  
    <li *ngFor="let menu of menuList" class="navigation">
      <a [routerLink]="[menu.url]" class="list-group-item">
        <span class='menu-icon icon-{{menu.name}}'></span>
        <span *ngIf="isExpended" class="menu-text">{{menu.text}}</span>
      </a>
    </li>
  </ul>
</div>

