.menu-icon{
  font-size: 24px;
}

.menu-text{
  margin-left: 10px;
}

#sidebar {
  position: relative;  
  overflow:hidden;
}

#sidebar.expended{
  min-width: 175px;
  -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#sidebar .list-group-item {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  background: inherit;
}

.list-group-item{
background: #333;
color: white;
}
.navigation a{
  color: #fff;
}

.navigation a:hover {
  background:#a80404;
  color: #fff;
}