/*.widget-header{
  background: #e5e5e5;
  color: #ccc;
  border-bottom: 1px solid gray;
}*/

recent,
quick-link {
    background: #fff;
    height: 165px;
    margin: 7px;
    padding: 10px 5px;
    width: 100%;
}