<div class="container">
	<div class="row header"> 
		<div class="col-sm-6 ">
		<div class="title"><i class="icon-attachment"></i>  ATTACH FOREST</div>
		</div>	
		<div class="col-sm-5 "></div>
		<div class="col-sm-1 ">
		<div class="title">X</div>
		</div>
	</div>
	<div class="row dimensions" *ngIf="notVisible">
		<div class="col-sm-6 line" >
			<div class="attach-existing" (click)="onClick()">
				<div class="center-block inner row "><i class="icon-add"></i></div>
				<div class="row content">Attach an Existing Forest</div>
			</div>
		</div>	
		<div class="col-sm-6 ">
			<div class="attach-existing" routerLink="/create_forest">
				<div class="center-block inner row"><i class="icon-add"></i></div>
				<div class="row content">Create new Forest and attach</div>
			</div>
		</div>
	</div>
	<div *ngIf="visible">
	<div class="row">
	<div class="col-sm-1"></div>
	    <div class="col-sm-11">
		<md-input-container style="width:75%">
		 	     <input mdInput placeholder="Search database" 
		 	   [(ngModel)]="trainingSearchTerm" 
		 	   (ngModelChange)="filterDb($event)">
		        </md-input-container >
			<i class="icon-search prefix"></i>
	  </div>
	</div>
	 <div class="row">
	 <div class="col-sm-1"></div>
	    <div class="col-sm-11">
	     <ul style="height:175px; width:90%; overflow:auto;">
				 	<li *ngFor="let forests of forestsList" class="navigation">   
						<md-checkbox [(ngModel)]="forests.selected" (change)="onCheck(forests.id)"> {{forests.name}}</md-checkbox>
					</li>
			 </ul>
			<a md-raised-button (click)="onBack()">Back</a>
       		<a md-raised-button (click)="onDone()">Done</a>
        </div>
       </div> 
	</div>
</div>
