<div class="bottom">
    <div class="text white">
        <span class="icon-Database"></span>&nbsp;Create New Database
    </div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-container" name='first' novalidate>
        <div class="outer">
            <div class="container-fluid">
                <div class="select"><span> Name:  <input type="text" name='dbName' [(ngModel)]="dbName" placeholder="Type name" style="width: 400px;margin:0px 0px 0px 5px"></span></div>
                <div class="select">
                    Security DB:
                    <md-select>
                        <md-option *ngFor="let db of dbList" [value]="db.name">{{db.name}}</md-option>
                    </md-select>
                </div>
                <div class="select">
                    Schema DB:
                    <md-select>
                        <md-option *ngFor="let db of dbList" [value]="db.name">{{db.name}}</md-option>
                    </md-select>
                </div>
                <div class="select">
                    Triggers DB:
                    <md-select>
                        <md-option *ngFor="let db of dbList" [value]="db.name">{{db.name}}</md-option>
                    </md-select>
                </div>
                <div id="demo" class="collapse">
                    <div class="select">
                        Data Encryption:
                        <md-select placeholder="Select">
                            <md-option *ngFor="let db of databases" [value]="db.value">{{db.viewValue}}</md-option>
                        </md-select>
                    </div>
                    <div class="select"><span> Encryption Key ID: <input type="text" name='key' placeholder="Key ID" style="width: 400px;margin:0px 0px 0px 5px"></span></div>
                </div>
                <div class="row alignment">
                    <div class="col-sm-12 moreless_btn" data-toggle="collapse" data-target="#demo" (click)="toggleContent()">{{content}}</div>
                </div>
            </div>
            <div class="move">
                <a md-button class="cancel_btn" routerLink="/database">Cancel</a>
                <a md-button class="create_btn" (click)="createData()">Create</a>
            </div>
        </div>
    </form>
</div>