.text {
    padding: 10px;
    line-height: 30px;
    font-family: Helvetica Neue, sans-serif;
    font-size: 18px;
}

.icon-Database{
    font-size: 22px;
}

.textarea{
    margin-bottom: 18px!important;
}

.select {
    margin-bottom: 25px;
    margin-left: 30px;
    }

.item {
       flex-direction: column;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
}

.container {
    border: 1px solid grey;
}
.form-container {
        border: 0px solid grey;
}
.move {
    float:right;
    display:block;
    margin-right:15%;
    clear:left;
    margin-top: 15px;
}

.alignment
{
    margin-bottom: 0px;
    background-color: #DFDEDF;
    text-align: center;
    font-weight: 600;
}