<p class="text">
  <span class="icon-Database"></span> Create New Database
</p>
<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-container" novalidate>
    <div class="container">
      <div class="select"><span class="text-style"> Name: <input type="text" placeholder="Type name" style="width: 200px;"></span></div>
      <div class="select">
        Security DB: 
        <md-select placeholder="Select">
          <md-option *ngFor="let db of databases" [value]="db.value">{{db.viewValue}}</md-option>
        </md-select>
      </div>
      <div class="select">
        Schema DB: 
        <md-select placeholder="Select">
          <md-option *ngFor="let db of databases" [value]="db.value">{{db.viewValue}}</md-option>
        </md-select>
      </div>
      <div class="select">
        Triggers DB: 
        <md-select placeholder="Select">
          <md-option *ngFor="let db of databases" [value]="db.value">{{db.viewValue}}</md-option>
        </md-select>
      </div>
      <div class="move">
        <a md-button routerLink="/database">Cancel</a>
        <a md-raised-button (click)="createData()">Create</a>
    </div>
    </div>
</form>