
<md-grid-list cols="12">

<header></header>

  <md-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color"
  >
    <div [ngSwitch]="tile.text">
      <side-menu *ngSwitchCase="'Menu'"></side-menu>
      <router-outlet *ngSwitchCase="'Content'"></router-outlet>
      <div *ngSwitchDefault>{{tile.text}}</div>
    </div>

  </md-grid-tile>
</md-grid-list>
<a routerLink ="/member">Member</a>
<a routerLink ="/product">Product</a>

