<!--<p>
  ngx-table-component works!
</p>

<div>
      <ngx-datatable
        [rows]="rows"
        [columns]="columns">
      </ngx-datatable>
    </div>-->

<div>
  <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [rowHeight]="'auto'" [limit]="10">
    <ngx-datatable-column name="Database Name">
      <ng-template let-column="column" ngx-datatable-header-template>
        {{column.name}}
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Related Databases">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span>{{column.name}}</span>
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <!--<ngx-datatable-column name="time">
      <template let-column="column" ngx-datatable-header-template>
        {{column.name}}
      </template>
      <template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </template>
    </ngx-datatable-column>-->
    <ngx-datatable-column name="Forests">
      <ng-template let-column="column" ngx-datatable-header-template>
        {{column.name}}
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="App Servers">
      <ng-template let-column="column" ngx-datatable-header-template>
        {{column.name}}
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Action">
      <ng-template let-column="column" ngx-datatable-header-template>
        {{column.name}}
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <!--<div class='btn' (click)="onAction()" >Edit</div>-->
        <i class="material-icons">delete</i>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>