<!--<p>
  ngx-table-component works!
</p>

<div>
      <ngx-datatable
        [rows]="rows"
        [columns]="columns">
      </ngx-datatable>
    </div>-->

<div class="tableHeader">
  <ngx-datatable class="material tableHeader" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [rowHeight]="'auto'" [limit]="10">
    <ngx-datatable-column name="Database Name">
      <ng-template style="color:darkviolet;" let-column="column" ngx-datatable-header-template>
        {{column.name}}
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.DatabaseName}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Related Databases">
      <ng-template class="tHeader" let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span>{{column.name}}</span>
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.RelatedDatabases}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Forests">
      <ng-template class="tHeader" let-column="column" ngx-datatable-header-template>
        {{column.name}}
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.Forests}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="App Servers">
      <ng-template class="tHeader" let-column="column" ngx-datatable-header-template>
        {{column.name}}
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.AppServers}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Action">
      <ng-template class="tHeader" let-column="column" ngx-datatable-header-template>
        {{column.name}}
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>

        <i class="material-icons" md-button (click)="openDialog()">edit</i>
        <i class="material-icons" (click)="onClick()">edit</i>
        <i class="material-icons" (click)="onAction()">delete</i>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>