/*.tableHeader{
background-color: purple;
}*/

.title{
    background-color: #9966ff;
    -webkit-text-fill-color: white;
}

.attach-forest{
    display: flex;
      align-items: flex-end;
  margin-bottom: 40px;

}

.attach-existing{
    width: 175px;
    height: 90px;
    border: 2px dotted grey;
    border-radius: 12px;
    text-align: center;
    align-items: flex-end;

    }


.ngx-datatable.material .datatable-header{
    background: #8756da;
    border-radius: 7px;
    }
    .ngx-datatable.material .datatable-header .datatable-header-inner .datatable-header-cell:nth-child(2n){
            background: #5f37a1;
            height: 47px;
    }



.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell{
    color: #ffffff;
    }
    .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell{
        background: #babac0;
    }
.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell:nth-child(2n){
            background: #848487;
}
