<!--<p>
  ngx-table-component works!
</p>

<div>
      <ngx-datatable
        [rows]="rows"
        [columns]="columns">
      </ngx-datatable>
    </div>-->
<div  style="width: 100%">
  <div  style="display:inline">
    <input type="text" placeholder="Search database" [(ngModel)]="trainingSearchTerm" (ngModelChange)="filterDb($event)"><i class="material-icons prefix">search</i>
  </div>
  <div style="float:right">
    <button>Create Database</button>

  </div>
</div>


<div class="tableHeader">
  <ngx-datatable class="material tableHeader" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [rowHeight]="'auto'" [limit]="10">
    <ngx-datatable-column name="Database Name">
      <ng-template style="color:darkviolet;" let-column="column" ngx-datatable-header-template>
        {{column.name}}
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.DatabaseName}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Related Databases">
      <ng-template class="tHeader" let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span>{{column.name}}</span>
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.RelatedDatabases}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Forests">
      <ng-template class="tHeader" let-column="column" ngx-datatable-header-template>
        {{column.name}}
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.Forests}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="App Servers">
      <ng-template class="tHeader" let-column="column" ngx-datatable-header-template>
        {{column.name}}
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.AppServers}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Action">
      <ng-template class="tHeader" let-column="column" ngx-datatable-header-template>
        {{column.name}}
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>

        <i class="fa fa-paperclip" md-button (click)="openDialog()"></i>
        <i class="fa fa-pencil fa-fw" (click)="onClick()"></i>
        <i class="fa fa-cog fa-fw" (click)="onAction()"></i>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
