<div class="bottom">
  <div class="text white">
    <span class="icon-forest "></span>&nbsp;Create New Forest
  </div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-container white" novalidate>
    <div class="outer">
      <div class="container-fluid ">
        <div class="select"><span> Forest:  <input type="text" placeholder="Forest name" style="width: 400px;margin:0px 0px 0px 5px"></span></div>
        <div class="select">
          Host:
          <md-select placeholder="Select">
            <md-option *ngFor="let db of databases" [value]="db.value">{{db.viewValue}}</md-option>
          </md-select>
        </div>
        <div class="select"><span> Data Directory:  <input type="text"  style="width: 200px;margin:0px 0px 0px 5px"></span></div>
        <div class="select"><span> Large Data Directory:   <input type="text"style="width: 200px;margin:0px 0px 0px 5px"></span></div>
        <div id="demo" class="collapse">
          <div class="select"><span> Fast Data Directory: :  <input type="text"  style="width: 200px;margin:0px 0px 0px 5px"></span></div>
          <div class="select">
            Fast Data Max Size:
            <md-select placeholder="Select">
              <md-option *ngFor="let db of databases" [value]="db.value">{{db.viewValue}}</md-option>
            </md-select>
          </div>
        </div>
        <div class="row alignment">
          <div class="col-sm-12 moreless_btn" data-toggle="collapse" data-target="#demo" (click)="toggleContent()">{{content}}</div>
        </div>
      </div>
      <div class="move">
        <a md-button class="cancel_btn" routerLink="/database">Cancel</a>
        <a md-button class="create_btn" (click)="createData()">Create</a>
      </div>
    </div>
  </form>
  <div>